<div class="row">
    <div class="large-12 columns content-name">
        <i class="icon-chevron-left pull-left icon-border back-btn" data-bind="click: goBack" title="Back"></i>
        <h3 class="subheader" data-bind="text: title"></h3>
        <nav class="breadcrumbs">
            <a class="current" href="#">Sale Activities</a>
        </nav>
    </div>
</div>
<div class="row">

    <!-- Recent Sales -->
    <div class="large-6 large-centered columns">
        <div class="con">
            <div class="con-header">
                <div class="con-icon"><i class="icon-rss"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Recent Sales</h4>
                </div>
            </div>
            <table class="table-full-width">
                <thead>
                    <tr>
                        <th class="tb40">Time</th>
                        <th class="tb30">Employee</th>
                        <th class="tb30">Amount</th>
                    </tr>
                </thead>
            </table>
            <table class="table-full-width">
                <tbody data-bind="foreach: saleList">
                   
                    <tr>
                        <td class="tb40" data-bind="text: createdDate"></td>
                        <td class="tb30" data-bind="text: employee().fullName "></td>
                        <td class="tb30" data-bind="text: amountCharged"></td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>