<!-- Page header with breadcrumb navigation-->
<div class="row full-width">
    <div class="large-12 columns content-name">
        <h3 class="subheader" data-bind="text: title"></h3>
        <nav class="breadcrumbs">
            <a class="current" href="#">Summary</a>
        </nav>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <div class="con sales">
            <div class="con-header">
                <div class="con-icon"><i class="icon-rss"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Sale Activities</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="con customer">
            <div class="con-header">
                <div class="con-icon"><i class="icon-rss"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Customer Activities</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="con inventory">
            <div class="con-header">
                <div class="con-icon"><i class="icon-rss"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Inventory Activities</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="con supplier">
            <div class="con-header">
                <div class="con-icon"><i class="icon-rss"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Supplier Activities</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="con order">
            <div class="con-header">
                <div class="con-icon"><i class="icon-rss"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Order Activities</h4>
                </div>
            </div>
        </div>
    </div>
</div>
