<!-- Page header with breadcrumb navigation-->
<div class="row">
    <div class="large-12 columns content-name">
        <i class="icon-chevron-left pull-left icon-border back-btn" data-bind="click: goBack" title="Back"></i>
        <h3 class="subheader" data-bind="text: title"></h3>
        <nav class="breadcrumbs">
            <a class="previous" data-bind="click: goBack">Employee Summary</a>
            <a class="current" href="#">Employee Form</a>
        </nav>
    </div>
</div>

<!-- Product details form-->
<div class="row">
    <div class="large-8 large-centered columns">
        <div class="con con-border" data-bind="with: employee">
            <span class="changed-state-tag left" data-bind=" visible: $parent.hasChanges">Changed</span>

            <!-- Product form header-->
            <div class="con-header">
                <div class="con-icon"><i class="icon-tags"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader" data-bind="text: fullName"></h4>
                </div>
            </div>

            <!-- Product form inputs-->
            <div class="row">
                <div class="large-12 columns">
                    <h6 class="subheader">Created: <span data-bind="text: createdDate"></span></h6>
                    <h6 class="subheader">Status: <span data-bind="text: online() ? 'Online' : lastSeen() != null ? lastSeen() : 'Never', css: { 'last-seen-online': online(), 'last-seen-offline': !online() }"></span></h6>
                    <label>First Name</label>
                    <input type="text" data-bind="value: firstName, valueUpdate: 'afterkeydown'">
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>LastName</label>
                    <input type="text" data-bind="value: lastName, valueUpdate: 'afterkeydown'" >
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Phone</label>
                    <input type="text" data-bind="value: contacts, valueUpdate: 'afterkeydown'">
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Email</label>
                    <input type="text" data-bind="value: email, disable: true">
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Role</label>
                    <!-- ko if: roleName() == 'Owner' -->
                    <input type="text" data-bind="value: roleName, disable: true">
                    <!-- /ko -->
                    <!-- ko if: roleName() != 'Owner' -->
                    <select data-bind="value: roleName, valueUpdate: 'afterkeydown'">
                        <option>Cashier</option>
                        <option>Manager</option>
                    </select>
                    <!-- /ko -->
                </div>
            </div>

            <!-- Button options-->
                <button data-bind="click: $parent.cancel, enable: $parent.canSave">
                    <i class="icon-undo"></i>Cancel</button>
                <button data-bind="click: $parent.save, enable: $parent.canSave">
                    <i class="icon-save"></i>Save</button>
                <button data-bind="click: $parent.deleteEmployee, disable: $parent.hasChanges() || roleName() == 'Owner'">
                    <i class="icon-trash"></i>Dismiss</button>
        </div>
    </div>
</div>

