<ul data-orbit="" class="orbit-slides-container" data-options="pause_on_hover: false">
  <li>
    <img src="~/Images/orbitImages/device3.jpg" class="orbitImage mobileDevices"/>
   
  </li>
  <li>
     <img src="~/Images/orbitImages/untitled.png" class="orbitImage"/>
     
  </li>
  <li>
     <img src="~/Images/orbitImages/pic1.png" class="orbitImage" />
     
  </li>
    <li>
     <img src="~/Images/orbitImages/pic2.png" class="orbitImage"/>
     
  </li>
  <li>
     <img src="~/Images/orbitImages/pic3.png" class="orbitImage" />
     
  </li>
</ul>