@model JAMP.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "features";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}

<div class="mp-body pageBodyHeight">
    <div class="row ">
        <div id="featureSection" class="sectionHeight">
            <div class="row">
                <div class="widthFormatter sectionBanner overflowed bg-textured">
                    <div class="inBoxText centered inBoxMarging" >
                         <h2 class="subheader sectionCaption">Jamp features</h2>
                    </div> 
                    <div  class="sectionButton">
                        <a class="icon-home sectionCaption" href="@Url.Action("Index","Home")">&nbsp HOME</a>
                    </div> 
                </div>
            </div>
            <div class="row">             
                <div class="large-4 columns small-12">
            
                    <div class="marginControl block widthDefined bg-textured">
                        <div class="inBoxMarging">
                            <i class="icon-money icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Free service</a></h4>
                            <p class="inBoxText">
                                 The Jamp application is currently available for free for the first 3 months after registration. A subscription fee must then be paid monthly afterwards.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="large-4 columns small-12">
                 
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging">
                            <i class="icon-cloud icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Cloud hosting</a></h4>
                            <p class="inBoxText">
                                 Jamp is a cloud based service, which means that maximum efficiency is provided for the user as the system is professionally maintained.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="large-4 columns small-12">
                    
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging">
                            <i class="icon-unlock-alt icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Data security</a></h4>
                            <p class="inBoxText">
                                 The Jamp system offers quality security features to ensure that a business' data is not compromised.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                
                <div class="large-4 columns small-12">
                    
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging" style="margin-top:12px">
                           <img src="/Images/mobile.ico" style="height:35px; width:35px;margin-top:-10px"/> <h4 class="subheader blockCaption"><a href="#">&nbsp Mobile Support</a></h4>
                            <p class="inBoxText">
                                 The Jamp web application takes advantage of responsive design and modern mobile technology to provide its services via smart phones, tablets and PC's.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="large-4 columns small-12">
          
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging">
                            <i class="icon-copy icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Data back-up</a></h4>
                            <p class="inBoxText">
                                 Business data is properly secured and backed up to prevent loss of valuable information.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="large-4 columns small-12">
           
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging">
                            <i class="icon-time icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Real time sync</a></h4>
                            <p class="inBoxText">
                                Multiple users can be logged into a business account and changes made on the system for the business is immediately reflected for each user to see.
                            </p>
                        </div>
                    </div>
                </div>
            </div>  
             <br />
            <div class="row">
                
                <div class="large-4 columns small-12">
                 
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging">
                            <i class="icon-signal icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Offline capability</a></h4>
                            <p class="inBoxText">
                                  Jamp is a single page application built with the Durandal framework, meaning tha it possesses the ability to handle data offline on the client and syncing back with server on re-establishment of the connection.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="large-4 columns small-12">
        
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging">
                            <i class="icon-umbrella icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Comprehensive solution</a></h4>
                            <p class="inBoxText">
                                 Jamp offers a variety of modules for managing and linking the different business operational areas.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="large-4 columns small-12">
                
                    <div class="marginControl block widthDefined mobileFormat bg-textured"">
                        <div class="inBoxMarging">
                            <i class="icon-sitemap icon-2x subheader"></i><h4 class="subheader blockCaption"><a href="#">&nbsp Cross platforms</a></h4>
                            <p class="inBoxText">
                                 Jamp, being mobile optimized, supports mobile platforms ranging from iPhone, Anroid and Blackberry. Jamp is also available for PC's across the different browsers including Chrome, IE and Firefox.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
