/* 
==========================================================
	               Navigation
========================================================== 
*/

/* 
Variables
------------------------------------------------------- */
//Mobile Border Colours (<960px)
$slide-bg-colour-m: $colour-bg-light-black;
$slide-bg-logo-colour: rgba(255, 255, 255, 0.2);

//Background colour (>960px)
$slide-bg-colour: white;

//Divider colour
$divider-colour: $colour-light-grey;

//Mobile Border Colours (<960px)
$slide-border-top: #4d4d4d;
$slide-border-bottom: #1a1a1a;

//Border Colours (>960px)
$slide-border: $colour-light-grey;
$slide-border-right: $colour-grey;

//Text colour
$list-text-colour: $colour-light-grey;

//State colour indicator
$active-colour: $colour-green;
$hover-colour: $colour-dark-blue;
$hover-text-colour: $colour-light-blue;

//Nav menu size
$size-wide: emCalc(190px);
$size-mobile: emCalc(260px);


#nav {
  position: relative;
  overflow: hidden;
}

.nav-list ul li {
  height: 45px;
  display: block;
  line-height: 1.6;
}

.nav-icon {
  position: relative;
  float: left;
  width: 30px;
  font-size: 20px;
}

.nav-divider {
  position: relative;
  float: left;
  border-right: 1px solid;
  border-color: $divider-colour;
  margin-top: 5px;
  height: 25px;
  width: 1%;
}

.nav-name {
  position: relative;
  float: left;
  width: auto;
  padding-left: 15px;
  font-size: 20px;
}

#slide-nav-logo {
  background-color: $slide-bg-logo-colour;
  cursor: pointer;
  margin: 0;
  padding: 0;
  img {
    height: emCalc(38px);
    margin: 2px 55px;
  }
}

.show-menu-toogle {
  display: inherit !important;
}

#nav-profile{
 height:emCalc(50px);
 a{
	padding-left:0;
	img{
	position:relative;
	float:left;
	width:emCalc(48px);
	}
   }
}

 .nav-profile-name {
  float: left;
  padding-left: emCalc(10px);
  line-height: emCalc(16px);
  font-size: emCalc(14px);
  margin-top: emCalc(7px);
  p {
    color: #A4A4A4;
    margin: 0;
    padding: 0;
  }
}
/*************************************
 * Larger than 960px (Desktop)
 *************************************/
@media screen and (min-width: 58.75em) {
  .show-slide {
    display: none !important;
  }
  .nav-list {
    float: left;
    width: $size-wide;
    height: 100%;
    left: 0;
    background-color: $slide-bg-colour;
    border-right: 1px solid;
    border-color: $slide-border-right;
    ul li {
      height: 45px;
      display: block;
      a {
        display: block;
        height: 45px;
        margin: 0px 5px 0 5px;
        padding: 5px 5px 5px 5px;
        color: grey;
        border-bottom: 1px solid;
        border-color: $slide-border;
      }
    }
  }
  .nav-icon {
    position: relative;
    float: left;
    width: 30px;
    font-size: 20px;
  }
  .nav-divider {
    position: relative;
    float: left;
    border-right: 1px solid;
    border-color: $divider-colour;
    margin-top: 5px;
    height: 25px;
    width: 1%;
  }
  .nav-name {
    position: relative;
    float: left;
    width: auto;
    padding-left: 15px;
    font-size: 20px;
  }
  .nav-list ul li {
    &:hover {
      border-right: 5px solid;
      border-color: $hover-colour;
      line-height: 1.6;
    }
    a:hover {
      color: $hover-text-colour;
      margin-right: 0px;
    }
    &.active {
      border-right: 5px solid;
      border-color: $active-colour;
      line-height: 1.6;
      a {
        margin-right: 0px;
      }
    }
  }
}

/*************************************
 * Smaller than 960px (Mobile)
 *************************************/
@media screen and (max-width: 58.75em) {
  #nav {
    position: absolute;
    top: 0;
    background-color: $slide-bg-colour-m;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .nav-list ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    border-top: 1px solid $slide-border-top;
    border-bottom: 1px solid $slide-border-bottom;
    li {
      display: block;
      line-height: 2;
      border-top: 1px solid $slide-border-top;
      border-bottom: 1px solid $slide-border-bottom;
      &.active a {
        line-height: 2;
        height: 43px;
        padding-left: 10px;
        border-left: 5px solid;
        border-color: $active-colour;
      }
      a {
        color: $list-text-colour;
        display: block;
        text-decoration: none;
        padding-left: 15px;
        &:hover {
          color: $hover-text-colour;
          line-height: 2;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid $slide-border-top;
    }
  }
  .nav-divider {
    height: 30px;
  }
  .js-ready {
    #nav {
      height: 100%;
      width: $size-mobile;
      left: -$size-mobile;
      -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
      -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
      box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    }
    #inner-wrap {
      left: 0;
    }
  }
  .js-nav #inner-wrap {
    left: $size-mobile;
  }
  .csstransforms3d.csstransitions {
    &.js-ready {
      #nav {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      #inner-wrap {
        left: 0 !important;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
    &.js-nav #inner-wrap {
      -webkit-transform: translate3d($size-mobile, 0, 0) scale3d(1, 1, 1);
      -moz-transform: translate3d($size-mobile, 0, 0) scale3d(1, 1, 1);
      -ms-transform: translate3d($size-mobile, 0, 0) scale3d(1, 1, 1);
      -o-transform: translate3d($size-mobile, 0, 0) scale3d(1, 1, 1);
      transform: translate3d($size-mobile, 0, 0) scale3d(1, 1, 1);
    }
  }
}