<!-- Page header with breadcrumb navigation-->
<div class="row">
    <div class="large-12 columns content-name">
        <i class="icon-chevron-left pull-left icon-border back-btn" data-bind="click: goBack" title="Back"></i>
        <h3 class="subheader" data-bind="text: title"></h3>
        <nav class="breadcrumbs">
            <a class="current" href="#">Order List Form</a>
        </nav>
    </div>
</div>

<!-- Search-->
<div class="row">
    <div class="small-10 large-centered  small-centered columns">
        <div class="row collapse item-search">
            <div class="small-10 columns">
                <input type="text" data-bind="value: filter, valueUpdate: 'afterkeydown'" placeholder="Search for a supplier">
            </div>
            <div class="small-2 columns">
                <span class="postfix"><i class="icon-search"></i></span>
            </div>
        </div>
    </div>
</div>


<!-- order list -->
<div class="row">

    <!-- ko foreach: filteredItems -->
    <div class="large-4 columns" data-bind=" visible: $parent.filteredItems">
        <div class="large-12 columns con item-con">
            <div class="item-info-con">
                <div class="row">
                    <div class="small-8 columns">
                        <h4 class="subheader animated" data-bind="text: supplier().supplierName"></h4>
                    </div>
                    <div class="small-4 columns">
                        <div class="right">
                            <p data-bind="text: completed() == 'Completed' ? 'Completed' : completed() == 'Outstanding' ? 'Outstanding' : 'Partial', css: { 'order-outstanding': completed() == 'Outstanding', 'order-completed': completed() == 'Completed', 'order-partial': completed() == 'Partial' } "></p>
                        </div>
                    </div>
                </div>

                <hr class="divider-small-centred" />

                <div class="row">
                    <div class="small-6 column dP">Order Date:</div>
                    <div class="small-6 column dP2" data-bind="text: displayDateCreated"></div>
                </div>
                <div class="row">
                    <div class="small-6 column dP">Due Date:</div>
                    <div class="small-6 column dP2" data-bind="text: displayDateDue"></div>
                </div>
                <div class="row">
                    <div class="small-6 column dP">No. Products: </div>
                    <div class="small-6 column dP2" data-bind="text: productOrders().length"></div>
                </div>

                <hr class="divider-small-centred" />

                <div class="row">
                    <div class="small-6 columns">
                        <p>Total Cost:</p>
                    </div>
                    <div class="small-6 columns">
                        <span>R</span><span data-bind="text: totalCost"></span>
                    </div>
                </div>
            </div>
            <div class="item-edit">
                <button class="deleteOrder signle-button" data-bind="click: $parent.removeOrder, enable: completed() == 'Completed'">Delete</button>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>

<div class="row wait-load">
    <h5 class="subheader header-wrap" data-bind="visible: filteredItems() == 0">..No orders.. (<a href="#/Supplier_Create_Order">Create</a>)</h5>
</div>