<!-- Page header with breadcrumb navigation-->
<div class="row">
    <div class="large-12 columns content-name">
        <h3 class="subheader" data-bind="text: title"></h3>
        <nav class="breadcrumbs">
            <a class="current" href="#">Summary</a>
        </nav>
    </div>
</div>

<!-- Button navigation options-->
<div class="row option-btn">
    <div class="large-4 small-6 columns">
        <a href="#/Supplier_Add_Supplier">
            <p>Add Supplier</p>
        </a>
    </div>
    <div class="large-4 small-6 columns">
        <a href="#/Supplier_Create_Order">
            <p>Create Order</p>
        </a>
    </div>
    <div class="large-4 small-12 columns">
        <a href="#/Suppliers_List">
            <p>Suppliers</p>
        </a>
    </div>
    
</div>

<!-- Content Area first row-->
<div class="row">

    <!-- Dashboard list stats-->
    <div class="large-5 push-7 columns dash-list">
        <div class="large-12 columns">
            <a href="#/Suppliers_Order_List">
                <div class="con">
                    <div class="con-header">
                        <div class="con-icon" data-bind="text: orderList"></div>
                        <div class="con-divider"></div>
                        <div class="con-name">
                            <h4 class="subheader">Total Orders</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="large-12 columns">
            <a href="#/Suppliers_Order_Received">
                <div class="con">
                    <div class="con-header">
                        <div class="con-icon" data-bind="text: completeOrders"></div>
                        <div class="con-divider"></div>
                        <div class="con-name">
                            <h4 class="subheader">Received</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="large-12 columns">
            <a href="#/Suppliers_Order_Overdue">
                <div class="con">
                    <div class="con-header">
                        <div class="con-icon" data-bind="text: overDueOrders"></div>
                        <div class="con-divider"></div>
                        <div class="con-name">
                            <h4 class="subheader">Overdue</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="large-12 columns">
            <a href="#/Suppliers_Order_Outstanding">
                <div class="con">
                    <div class="con-header">
                        <div class="con-icon" data-bind="text: outstandingOrders"></div>
                        <div class="con-divider"></div>
                        <div class="con-name">
                            <h4 class="subheader">Outstanding</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Info panel: stock turnover rate-->
    <div class="large-7 pull-5 columns">
        <div class="con">
            <div class="con-header">
                <div class="con-icon"><i class="icon-strikethrough"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Order: Summary</h4>
                </div>
                <!-- ko if: userSettings().descriptions() == 'On' -->
                <div class="con-icon-close infoSummary"><i class="icon-info-sign"></i></div>
                <!-- /ko -->
            </div>
            <table class="table-full-width">
                <thead>
                    <tr>
                        <th class="tb40">Supplier Name</th>
                        <th class="tb30">Orders made</th>
                        <th class="tb30">Amount(R)</th>
                    </tr>
                </thead>
            </table>

            <table class="table-full-width">
                <tbody data-bind="foreach: supplierList">
                    <tr>
                        <td class="tb40" data-bind="text: supplierName"></td>
                        <td class="tb30" data-bind="text: orders().length"></td>
                        <td class="tb30 currency-align" data-bind="text: supplierAccount().amountOwed"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Content Area second row-->
<div class="row">

    <!-- Info panel: stock near reorder level-->
    <div class="large-6 columns">
        <div class="con">
            <div class="con-header">
                <div class="con-icon"><i class="icon-strikethrough"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Orders: Deliveries</h4>
                </div>
                <!-- ko if: userSettings().descriptions() == 'On' -->
                <div class="con-icon-close infoDelivery"><i class="icon-info-sign"></i></div>
                <!-- /ko -->
            </div>
            <table class="table-full-width no-margin">
                <thead>
                    <tr>
                        <th class="tb40">Supplier name</th>
                        <th class="tb30">Date Ordered</th>
                        <th class="tb30">No. Deliveries</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: completedOrders"><!---->
                    <tr>
                        <td class="tb40" data-bind="text: supplier().supplierName"></td>
                        <td class="tb30" data-bind="text: displayDateCreated"></td> <!---->
                        <td class="tb30" data-bind="text: deliveries().length"></td>  <!---->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Info panel: stock general information-->
    <div class="large-6 columns">
        <div class="con">
            <div class="con-header">
                <div class="con-icon"><i class="icon-strikethrough"></i></div>
                <div class="con-divider"></div>
                <div class="con-name">
                    <h4 class="subheader">Supplier: Account</h4>
                </div>
                <!-- ko if: userSettings().descriptions() == 'On' -->
                <div class="con-icon-close infoAccount"><i class="icon-info-sign"></i></div>
                <!-- /ko -->
            </div>
            <table class="table-full-width no-margin">
                <thead>
                    <tr>
                        <th class="tb40">Supplier name</th>
                        <th class="tb30">Account name</th>
                        <th class="tb30">Amount(R)</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: allSuppliers">
                    <tr>
                        <td class="tb40" data-bind="text: supplierName"></td>
                        <td class="tb30" data-bind="text: supplierAccount().accountName"></td> 
                        <td class="tb30 currency-align" data-bind="text: supplierAccount().amountOwed"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
