/* 
==========================================================
					  Button Options
==========================================================
*/
/* 
Button Variables
------------------------------------------------------- */
//Colour
$btn-bg-colour:				$colour-dark-blue;
$btn-bg-colour-disabled:	$colour-grey;
$btn-text-colour:			white;
$btn-border-colour:			$colour-dark-blue;
$btn-border:				1px solid $colour-dark-blue;

//Hover
$btn-bg-colour-hover:		$colour-light-blue;

//Text
$btn-text-align:			center;

//button, .button {
//	@include button-base;
//	@include button-size;
//	@include button-style($btn-bg-colour, false, false);
//	font-weight: normal;
//    &:hover,
//    &:focus { 
//		background-color: $btn-bg-colour-hover;
//	}
//	&.disabled, &[disabled] {
//		 background-color: grey;
//	}
//	i {
//		margin-left: -10px;
//		margin-right: 4px;
//	}
//}