<div class="messageBox autoclose" style="max-width: 320px">
    <div class="modal-header">
        <h3>Find Product</h3>
    </div>
    <div class="modal-body">

        <label>Search By:</label>
        <select data-bind="value: searchBy">
            <option>Brand And Product Name</option>
            <option>Brand</option>
            <option>Product Name</option>
        </select>
        <input type="text" data-bind="value: filter, valueUpdate: 'afterkeydown'" placeholder="Search for product">

        <ul data-bind="foreach: filteredItems" class="product-search">
            <li>
                <div class="add-btn">
                    <a class="add-remove-btn" data-bind="click: $parent.addProduct">Add</a>
                </div>
                <div class="product-name" data-bind="text: fullName"></div>              
            </li>
        </ul>
         <h5 class="subheader" data-bind="visible: filteredItems() == 0">..No results..</h5>
    </div>
    <div class="modal-footer">
        <button data-bind="click: cancel">Cancel</button>
    </div>
</div>

