<div class="row">
    <div class="large-12 columns content-name">
        <i class="icon-chevron-left pull-left icon-border back-btn" data-bind="click: goBack" title="Back"></i>
        <h3 class="subheader" data-bind="text: title + ': ' + incidents().length"></h3>
        <nav class="breadcrumbs">
            <a class="current" href="#">Inventory: Incidents</a>
        </nav>
    </div>
</div>

<!-- Product list -->
<div class="row">

    <!-- ko foreach: incidents -->
    <div class="large-4 columns" data-bind=" visible: $parent.incidents">
        <div class="large-12 columns con item-con">
            <div class="item-info-con">
                <h4 class="subheader" data-bind="text: dateName"></h4>
                <div class="row">
                    <div class="small-12 columns">
                        <p>Number of Products: <span data-bind="text: productIncidents().length" class="large"></span></p>
                        <p>Type: <span data-bind="text: type"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>

<div class="row wait-load">
    <h5 class="subheader" data-bind="visible: !incidents">Loading ... </h5>
</div>

