<!-- Page header with breadcrumb navigation-->
<div class="row">
    <div class="large-12 columns content-name">
        <i class="icon-chevron-left pull-left icon-border back-btn" data-bind="click: goBack" title="Back"></i>
        <h3 class="subheader" data-bind="text: title + ': ' + productList().length"></h3>
        <nav class="breadcrumbs">
            <a class="previous" data-bind="click: goBack">Categories</a>
            <a class="current" href="#">Product List</a>
        </nav>
    </div>
</div>

<!-- Search & button options -->
<div class="row">
    <div class="small-10 large-centered  small-centered columns">
        <div class="row collapse item-search">
            <div class="small-10 columns">
                <input type="text" data-bind="value: filter, valueUpdate: 'afterkeydown'" placeholder="Search products">
            </div>
            <div class="small-2 columns">
                <span class="postfix"><i class="icon-search"></i></span>
            </div>
        </div>
    </div>
</div>

<!-- Product list -->
<div class="row">

    <!-- ko foreach: filteredItems -->
    <div class="large-4 columns" data-bind=" visible: $parent.filteredItems">
        <div class="large-12 columns con item-con">
            <div class="item-info-con">
                <h4 class="subheader animated" data-bind="text: fullName"></h4>
                <hr class="divider-small-centred" />

                <div class="row">
                    <div class="small-4 column dP">Brand:</div>
                    <div class="small-8 column dP2" data-bind="text: brandName"></div>
                </div>
                <div class="row">
                    <div class="small-6 column dP">Quantity:</div>
                    <div class="small-6 column dP2" data-bind="text: quantity"></div>
                </div>
                <div class="row">
                    <div class="small-6 column dP">Price:</div>
                    <div class="small-6 column dP2"><span>R</span><span data-bind="text: sellingPrice"></span></div>
                </div>
                <div class="row">
                    <div class="small-6 column dP">Cost: </div>
                    <div class="small-6 column dP2"><span>R</span><span data-bind="text: costPrice"></span></div>
                </div>

            </div>
            <div class="item-edit" data-bind="visible: $parent.enabledEditing">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <div class="large-4 columns">
        <div class="large-12 columns add-item-btn" data-bind="click: addProduct, visible: canEdit">
            <i class="icon-plus"></i>
        </div>
    </div>

</div>
<div class="row wait-load">
    <h5 class="subheader" data-bind="visible: emptyList">..No results..</h5>
</div>
<div class="row wait-load">
    <h5 class="subheader" data-bind="visible: !filteredItems">Loading ... </h5>
</div>
