<div class="content-scrollable">
    <img src="~/Images/Jamp_logo_inline.png" alt="Jamp" />
    <h3 class="subheader">About JAMP</h3>
    <p>Jamp is a mobile Enterprise Resource Planning (ERP) system with a focus on small and medium retailers (SMEs) in South Africa. It is the brainchild of software company Open Box Software and was developed by UCT IS students <span class="title-name">J</span>onathan Froon, <span class="title-name">A</span>ce Gazi, <span class="title-name"> M</span>asupha Letsie and <span class="title-name">P</span>apa Bengu</p>
    <h5 class="subheader">Built using:</h5>
    <div class="large-6 columns">
        <ul>
            <li><a href="http://www.asp.net/mvc" target="_blank">ASP .NET MVC</a>  <i>Apache License</i></li>
            <li><a href="http://www.breezejs.com/" target="_blank">Breeze.js</a>  <i>MIT License</i></li>
            <li><a href="http://durandaljs.com/" target="_blank">Durandal</a>  <i>MIT License</i></li>
            <li><a href="http://entityframework.codeplex.com/" target="_blank">Entity Framework</a>  <i>Apache License</i></li>
            <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>  <i>MIT License</i></li>
            <li><a href="http://jquery.com/" target="_blank">Jquery</a>  <i>MIT License</i></li>
            <li><a href="http://knockoutjs.com/" target="_blank">Knockout</a>  <i>MIT License</i></li>
            <li><a href="http://momentjs.com/" target="_blank">Moment.js</a>  <i>MIT License</i></li>
            <li><a href="http://makingsense.github.io/moment-datepicker/" target="_blank">Moment Datepicker</a>  <i>MIT License</i></li>
            
        </ul>
    </div>
    <div class="large-6 columns">
        <ul>
            <li><a href="https://github.com/kriskowal/q" target="_blank">Q.js</a>  <i>MIT License</i></li>
            <li><a href="http://requirejs.org/" target="_blank">Require.js</a>  <i>MIT License</i></li>
            <li><a href="http://sammyjs.org/" target="_blank">Sammy.js</a>  <i>MIT License</i></li>
            <li><a href="http://sass-lang.com/" target="_blank">SASS</a>  <i>MIT License</i></li>
            <li><a href="http://signalr.net/" target="_blank">SignalR</a>  <i>Apache License</i></li>
            <li><a href="http://fgnass.github.io/spin.js/" target="_blank">Spin.js</a>  <i>MIT License</i></li>
            <li><a href="http://subtlepatterns.com" target="_blank">Subtle Patterns</a> <i>CC BY-SA 3.0</i></li>
            <li><a href="https://github.com/CodeSeven/toastr" target="_blank">Toastr.js</a>  <i>MIT License</i></li>
            <li><a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation</a>  <i>MIT License</i></li>
        </ul>
    </div>
</div>
<a class="close-reveal-modal">&#215;</a>