@model JAMP.Models.AccountModels.LocalPasswordModel
@{
    ViewBag.Title = "ManagedSuccess";
}

<div class="mp-body bg-textured">
    <div class="row">
        <div class="large-4 large-Centered small-10 small-Centered columns">
            <h3 class="subheader">@ViewBag.message</h3>
       
            <div>
                <a class="button small" href="@Url.Action("Index", "Home")">Ok</a>
            </div>
        </div>
    </div>
</div>



